* {
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    word-break: keep-all;
    overflow-wrap: break-word;


}

.테두리 {
    /* border: 5px solid red; */
    width: 70%;
    position: relative;
    margin: auto;
    text-align: left;

}

body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    -ms-overflow-style: none;

}

::-webkit-scrollbar {
    display: none;
}


.navbar {
  width: 100%;
  position: sticky;
  z-index: 1;
  font-family: "Diphylleia", serif;
  font-weight: 600;
  margin: auto;

}
.nav-item{
border: 3px solid transparent; /* 항상 1px 유지 */

}
.navbar-nav {
  display: flex;
  width: 100%;
}

.nav-item:hover {
border-bottom: 3px solid darkred;
}

.nav-item:nth-of-type(5) {
  margin-left: auto;
}


.logo {
  height: 50px;
}


td>input{
    margin: 4px;
        margin-left: 0;
        padding-left:5px ;
}





.logo {
    height: 50px;
}

::-webkit-scrollbar {
    display: none;
}


.right {
    margin-top: 15px;
    text-align: right;
    /* border: 1px solid red; */
}



.right label::before {
    content: '';
    background-image: url('../icon/stop_545666.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: -2px;
    margin-right: 4px;
}

.right input:checked+label::before {
    background-image: url('../icon/check_3991408.png');
}



.여백 {
    padding-top: 120px;
    width: 50%;
    margin: auto;
}

.box {
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 20px 40px;
    margin-bottom: 40px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        gap: 20px;

    select {
        display: inline-block;
        width: 100%;
        height: 50px;
        border: 2px solid gray;
        border-radius: 4px;
        margin: 0 0 20px 0;
    }

}

h1 {
    font-weight: 600;
}

h5 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 40px;
}





.agree {
    background-color: #eee;
    border: 2px solid #aaa;
    padding: 25px;

}

input {
    height: 50px;
    width: 100%;
    z-index: 1;

}

label {
    padding-bottom: 5px;
}


input[type=checkbox] {

    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid black;
    margin: 3px;
    vertical-align: middle;

}

input[type=tel] {

    width: 30%;


}

.email{
    display: flex;
    width: 100%;

}


input[type=email], select.email{
    width: 100%;
}




table {
    width: 100%;
    /* border-collapse: collapse; */
    font-size: 15px;

}

tr{
    td{
        width: 50%;
    }
}

th {
    background-color: #f4f6f8;
    color: #333;
    font-weight: 600;
    width: 150px;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
}

td {
    background-color: #fff;
    width: 80%;
    border-bottom: 1px solid black;
    padding: 10px;
    gap: 5px;
}


.btn {
    display: inline-block;
    width: 100%;
    padding: 14px 0;
    background: darkred;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    text-align: center;
    margin-bottom: 200px;
    transition: 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background: rgb(43, 43, 43);
    
}

p {
    font-size: 13px;
    color: #555;
}



.navbar {
  width: 100%;
  position: sticky;
  z-index: 1;
  font-family: "Diphylleia", serif;
  font-weight: 600;
  margin: auto;

}
.nav-item{
border: 3px solid transparent; 
}
.navbar-nav {
  display: flex;
  width: 100%;
}

.nav-item:hover {
border-bottom: 3px solid darkred;
}

.nav-item:nth-of-type(5) {
  margin-left: auto;
}


.logo {
  height: 50px;
}


.width{
width: 50%; margin: auto;
}










@media screen and (max-width: 767px) {


    body {
        font-size: 15px;
        line-height: 1.6;
        background-color: #fafafa;
        color: #222;
    }

  .테두리{
    width: 100%;
  }

  .width{
width: 100%
}



 .navbar-nav {
        display: block;
        width: 100%;
        text-align: center; }

    .여백 {
        width: 92%;
        padding-top: 90px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #2c3e50;
        font-weight: 700;
    }

    h2 {
        font-size: 18px;
        margin: 10px 0;
        color: #34495e;
    }

    h5 {
        font-size: 20px;
        margin-top: 25px;
        font-weight: 600;
        color: #2c3e50;
        text-align: left;
    }

    .box {
        width: 100%;
        padding: 18px 20px;
        margin-bottom: 30px;
        border: 1.5px solid #ccc;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    }

    .agree {
        font-size: 13px;
        padding: 15px;
        line-height: 1.5;
        background-color: #f1f1f1;
        border-radius: 8px;
        border: 1px solid #ccc;
    }
    .right {
        text-align: center;
        margin-top: 10px;
    }

    .nav-item{
        width: 100%;
        text-align: center;
        a{
            text-align: center;
        }
    }




}